﻿



@model HelpDesk.Data.Models.Ticket

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<h3 class="text-center text-danger">Are you sure you want to delete this?</h3>


<hr />
<div class="col-8">
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="Subject"></label>
        </div>
        <div class="col-8">
            <input asp-for="Subject" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="Content"></label>
        </div>
        <div class="col-8">
            <input asp-for="Content" readonly class="form-control" />
        </div>
    </div>
   
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="Response"></label>
        </div>
        <div class="col-8">
            <input asp-for="Response" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="Priority"></label>
        </div>
        <div class="col-8">
            <input asp-for="Priority" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="CreateDate"></label>
        </div>
        <div class="col-8">
            <input asp-for="CreateDate" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="Units.Name"></label>
        </div>
        <div class="col-8">
            <input asp-for="Units.Name" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4">
            <label>Assigned To</label>
        </div>
        <div class="col-8">
            <input asp-for="ApplicationUser.Email" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="CreateDate"></label>
        </div>
        <div class="col-8">
            <input asp-for="CreateDate" readonly class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-5">

            <label>
                Treated
            </label>
            @Html.DisplayFor(model => model.isTreated)
        </div>
        <div class="form-group col-md-5">

            <label>
                Not Treated
            </label>
            @Html.DisplayFor(model => model.notTreated)
        </div>
    </div>

</div>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn-sm btn-rounded btn-success" />
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Users") && !(User.IsInRole("Admin")) && !(User.IsInRole("Staff")))
        {
            <a asp-action="index" asp-controller="Tickets" class="btn-sm btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
        }


        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <a asp-action="TicketAdmin" asp-controller="Tickets" class="btn-sm btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
        }

        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Staff"))
        {
            <a asp-action="Assignee" asp-controller="Tickets" class="btn-sm btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
        }

    </form>
   


</div>

<br />
