﻿@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> UserManager
@{ var Code = Guid.NewGuid().ToString("n").Substring(0, 4);
    var user = await UserManager.GetUserAsync(User);

    //var formtype = "hidden";
    //var Input = "readonly"; }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - HelpDesk</title>
    <!-- plugins:css -->
    <link href="~/Helpdeskapp/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Helpdeskapp/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/js/jqueryui/jquery-ui.css" rel="stylesheet" />
    <link href="~/Helpdeskapp/vendors/css/vendor.bundle.base.css" rel="stylesheet" />


    <link href="~/Helpdeskapp/vendors/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Helpdeskapp/vendors/chartist/chartist.min.css" rel="stylesheet" />

    <link href="~/Helpdeskapp/css/style.css" rel="stylesheet" />

    <link rel="shortcut icon" href="~/Helpdeskapp/images/icon.png" />
    <link href="~/Helpdeskapp/bootstrap-sweetalert-master/dist/sweetalert.css" rel="stylesheet" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex align-items-center">
                <a class="navbar-brand brand-logo" asp-controller="Home" asp-action="index">

                    <img src="~/Helpdeskapp/images/logo.svg" alt="logo" class="logo-dark" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/Helpdeskapp/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
                <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Help desk dashboard!</h5>
                <partial name="_LoginPartial" />
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a asp-controller="role" asp-action="details" class="nav-link">
                            <div class="profile-image">
                                <img class="img-xs rounded-circle" src="~/Helpdeskapp/images/faces/dummy.jpg" alt="profile image">
                                <div class="dot-indicator bg-success"></div>
                            </div>
                            <div class="text-wrapper">
                                <p class="profile-name">Unknown</p>
                                <p class="designation">User</p>
                            </div>
                            <div class="icon-container">
                                <i class="icon-bubbles"></i>
                                <div class="dot-indicator bg-danger"></div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item nav-category">
                        <span class="nav-link">Dashboard</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/index">
                            <span class="menu-title">Dashboard</span>
                            <i class="icon-screen-desktop menu-icon"></i>
                        </a>
                    </li>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
        <li class="nav-item nav-category"><span class="nav-link">Roles</span></li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-bas" aria-expanded="false" aria-controls="ui-basic">
                                <span class="menu-title">All Roles</span>
                                <i class="icon-layers menu-icon"></i>
                            </a>
                            <div class="collapse" id="ui-bas">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" asp-controller="role" asp-action="createrole">Create Roles</a></li>
                                    <li class="nav-item"> <a class="nav-link" asp-controller="role" asp-action="ListRoles">List Roles</a></li>
                                    <li class="nav-item"> <a class="nav-link" asp-controller="units" asp-action="create">Department</a></li>
                                </ul>
                            </div>
                        </li>

                                        <li class="nav-item nav-category"><span class="nav-link">Tickets</span></li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                                                                <span class="menu-title">All Tickets</span>
                                                                <i class="icon-layers menu-icon"></i>
                                                            </a>
                                                            <div class="collapse" id="ui-basic">
                                                                <ul class="nav flex-column sub-menu">
                                                                    @*<li class="nav-item"> <a class="nav-link" asp-controller="Tickets" asp-action="Create">Create Tickets</a></li>*@
                                                                    <li class="nav-item"> <a class="nav-link" asp-controller="Tickets" asp-action="TicketAdmin">All Tickets</a></li>
                                                                    <li class="nav-item"> <a class="nav-link" asp-controller="Tickets" asp-action="OpenAdmin">Pending Tickets</a></li>
                                                                    <li class="nav-item"> <a class="nav-link" asp-controller="Tickets" asp-action="Reports">Ticket Report</a></li>
                                                                </ul>
                                                            </div>
                                                        </li>
}

                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Users") && !(User.IsInRole("Admin")) && !(User.IsInRole("Staff")))
                    {
        <li class="nav-item nav-category"><span class="nav-link">Tickets</span></li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                                <span class="menu-title">All Tickets</span>
                                <i class="icon-layers menu-icon"></i>
                            </a>
                            <div class="collapse" id="ui-basic">
                                <ul class="nav flex-column sub-menu">
                                    @*<li class="nav-item"> <a class="nav-link" asp-controller="Tickets" asp-action="Create">Create Tickets</a></li>*@
                                    <li class="nav-item"> <a class="nav-link" asp-controller="Tickets" asp-action="index">My Tickets</a></li>
                                    <li class="nav-item"> <a class="nav-link" asp-controller="Tickets" asp-action="Open">My open Tickets</a></li>

                                </ul>
                            </div>
                        </li>
}


                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Staff"))
                    {
        <li class="nav-item nav-category"><span class="nav-link">Tickets</span></li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                                <span class="menu-title">All Tickets</span>
                                <i class="icon-layers menu-icon"></i>
                            </a>
                            <div class="collapse" id="ui-basic">
                                <ul class="nav flex-column sub-menu">
                                    @*<li class="nav-item"> <a class="nav-link" asp-controller="Tickets" asp-action="Create">Create Tickets</a></li>*@
                                    <li class="nav-item"> <a class="nav-link" asp-controller="Tickets" asp-action="Assignee"> Tickets</a></li>
                                    <li class="nav-item"> <a class="nav-link" asp-controller="Tickets" asp-action="OpenAssignee">Pending Tickets</a></li>

                                </ul>
                            </div>
                        </li>
}

                   

                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row purchace-popup">
                        <div class="col-12 stretch-card grid-margin">
                            <div class="card card-secondary">
                             
                            </div>
                        </div>
                    </div>


                    <!-- Quick Action Toolbar Starts-->
                    <!-- Quick Action Toolbar Ends-->

                    @RenderBody()

                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->

                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block my-auto">
                            Copyright ©
                            <a href="#">Novo Health Africa </a>. All rights reserved.
                        </span>

                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->

    <script src="~/Helpdeskapp/vendors/js/vendor.bundle.base.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
    <script src="~/js/jqueryui/jquery-ui.js"></script>
    @*<script src="vendors/js/vendor.bundle.base.js"></script>*@
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Helpdeskapp/bootstrap-sweetalert-master/dist/sweetalert.js"></script>
    <script src="~/Helpdeskapp/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Helpdeskapp/vendors/moment/moment.min.js"></script>
    <script src="~/Helpdeskapp/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/Helpdeskapp/vendors/chartist/chartist.min.js"></script>

    <script src="~/Helpdeskapp/js/off-canvas.js"></script>
    <script src="~/Helpdeskapp/js/misc.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
