@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    var user = await UserManager.GetUserAsync(User);

}
@*@if (SignInManager.IsSignedIn(User))
    {
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                </li>
            </ul>
        </form>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
            <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
        </ul>
    }*@



@if (SignInManager.IsSignedIn(User))
{

    <ul class="navbar-nav navbar-nav-right ml-auto">


        <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle ml-2" src="~/Helpdeskapp/images/faces/dummy.jpg" alt="Profile image"> <span class="font-weight-normal"> @user.Email </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                    <div class="dropdown-header text-center">
                        <img class="img-md rounded-circle" src="~/Helpdeskapp/images/faces/dummy.jpg" alt="Profile image">
                        <p class="mb-1 mt-3">@user.FirstName </p>
                        <p class="font-weight-light text-muted mb-0">@user.Email</p>
                    </div>
                    <a class="dropdown-item" asp-controller="role" asp-action="details"><i class="dropdown-item-icon icon-user text-primary"></i> Hello @UserManager.GetUserName(User)! </a>
                    <a class="dropdown-item"><i class="dropdown-item-icon icon-speech text-primary"></i> Messages<span class="badge badge-pill badge-danger">1</span></a>
                   
                    <button type="submit" class="dropdown-item"><i class="dropdown-item-icon icon-power text-primary"></i> Logout</button>
                </form>

            </div>
        </li>
    </ul>

}
else
{
    <ul class="navbar-nav navbar-nav-right ml-auto">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}
