﻿@model IEnumerable<HelpDesk.Data.Models.Units>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<p>
    <a asp-action="Create" class="btn btn-success">Create Unit</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Info" asp-route-id="@item.Id">@item.Name</a>
                @*@Html.DisplayFor(modelItem => item.Name)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn-sm btn-secondary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn-sm  btn-success">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn-sm  btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
