﻿@model IEnumerable<ApplicationUser>



@if (Model.Any())
{@*<a class="btn btn-primary" asp-controller="account" asp-action="register">
        Create user
    </a>*@
                <h2>Total Number of Users: @ViewBag.count</h2> foreach (var role in Model)
                                {


                <div class="card mb-3">
                    @*<div class="card-header">
                            Role id : @role.Id
                        </div>*@
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>Name:</b> @role.FirstName @role.LastName
                        </h5>
                        <h5 class="card-title">
                            <b>Email:</b> @role.Email
                        </h5>
                        <h5 class="card-title">
                            <b>Phone Number:</b> @role.PhoneNumber
                        </h5>

                    </div>
                    @*<div class="card-footer">
                            <a class="btn btn-primary" asp-controller="administration" asp-action="createrole">Edit</a>
                            <a class="btn btn-primary" asp-controller="administration" asp-action="createrole">Delete</a>
                        </div>*@
                </div> }
                            }
                            else
                            {
                <div class="card">
                    <div class="card-header">
                        No Roles reated yet
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Create Role Below
                        </h5>
                        <a class="btn btn-primary" asp-controller="account" asp-action="register">
                            Create Role
                        </a>
                    </div>
                </div>}